body{
    background-color: cornflowerblue;
    ;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    font-family: 'Times New Roman', Times, serif;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}